*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: #EAF4FF;
}

/* HEADER */

header{
    background-color: #225eb7;
    padding: 15px 40px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 130px;
    border-radius: 10px;
}

.nav-list{
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-list a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-list a:hover{
    color: #4DA6FF;
}

/* TITULOS */

h1{
    text-align: center;
    margin-top: 40px;
    font-size: 42px;
    color: #002B5B;
}

h2{
    text-align: center;
    margin: 15px 0 40px;
    color: #0056B3;
}

/* DESTINOS */

.destinos{
    width: 90%;
    margin: auto;
}

.titulo-section{
    text-align: center;
    margin-bottom: 30px;
}

.titulo-section h3{
    color: #002B5B;
    font-size: 28px;
}

.titulo-section p{
    color: #555;
}

/* BOTÕES */

.btn-milhas{
    background-color: #EAF4FF;
    color: #002B5B;
    border: 2px solid #0056B3;
    padding: 10px 16px;
    border-radius: 999px;
    cursor: pointer;
    margin: 10px;
    font-weight: bold;
    transition: all 0.2s ease;
}

.btn-milhas:hover{
    transform: translateY(-1px);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.btn-milhas.active{
    background-color: #0056B3;
    color: white;
    border-color: #002B5B;
    box-shadow: 0 0 0 3px rgba(0, 86, 179, 0.2);
}

/* FILTRO */

select{
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 30px;
}

/* CARDS */

.cards-destinos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-bottom: 40px;
}

.card-passagem{
    width: 320px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0,0,0,.15);
    transition: .3s;
}

.card-passagem:hover{
    transform: translateY(-5px);
}

.card-passagem img{
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.card-info{
    padding: 15px;
}

.card-info h3{
    color: #002B5B;
    margin-bottom: 10px;
}

.valor-passagem{
    color: #0056B3;
    font-size: 22px;
    font-weight: bold;
}

/* SOBRE A EMPRESA */

.motivo-minerio{
    width: 85%;
    margin: 50px auto;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgba(0,0,0,.1);
}

.motivo-minerio h3{
    color: #002B5B;
    margin-bottom: 20px;
}

.motivo-minerio li{
    margin-bottom: 10px;
}
.card-passagem a{
    display: block;
    width: 80%;
    margin: 15px auto 20px;
    padding: 12px;
    background-color: #0056B3;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}
.card-passagem a:hover{
    background-color: #003B73;
    transform: scale(1.03);
}
footer{
    background-color: #225eb7;
    color: white;

    margin-top: 50px;
    padding: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

footer a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

footer a:hover{
    color: #66B2FF;
}

.motivo-minerio{
    width: 90%;
    max-width: 900px;

    background: white;
    color: #333;

    padding: 25px;
    border-radius: 15px;

    margin-bottom: 20px;
}

.motivo-minerio h3{
    color: #003B73;
    margin-bottom: 15px;
}

.motivo-minerio ul{
    padding-left: 20px;
}

.motivo-minerio li{
    margin-bottom: 10px;
}
/* CONTAINER DOS CARDS */

.cards-destinos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin: 30px 0;
}

/* CARD */

.card-passagem{
    width: 320px;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0,0,0,.15);

    display: flex;
    flex-direction: column;
}

.card-info{
    padding: 15px;
    flex-grow: 1;
}
/* SWITCH MILHAS */

.switch-milhas{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 25px 0;
}

.switch-milhas span{
    font-weight: bold;
    color: #004b87;
    font-size: 16px;
}

.switch-milhas input{
    display: none;
}

.switch-milhas label{
    width: 80px;
    height: 40px;
    background: #cfd8dc;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    transition: .4s;
}

.switch-milhas label::before{
    content: "";

    position: absolute;
    width: 32px;
    height: 32px;

    background: white;
    border-radius: 50%;

    top: 4px;
    left: 4px;

    transition: .4s;

    box-shadow: 0 2px 5px rgba(0,0,0,.2);
}

/* ATIVADO */

.switch-milhas input:checked + label{
    background: #225eb7;
}

.switch-milhas input:checked + label::before{
    transform: translateX(40px);
}
